{% extends 'base.html.twig' %}

{% block title %}Device{% endblock %}

{% block body %}

    {% for device in devices %}
        <div class="card">
            <h4>{{ device }}</h4>
            {{ device.deviceType }}
            {{ device.producer }}
            <p>
                <a role="button" class="btn btn-secondary" href="{{ path('device_show', {id: device.id}) }}">View</a>
                <a role="button" class="btn btn-secondary" href="{{ path('device_edit', {id: device.id}) }}">Edit</a>
                <a role="button" class="btn btn-warning" href="{{ path('device_delete', {id: device.id}) }}">Delete</a>
            </p>
        </div>
    {% else %}
        No records
    {% endfor %}
    <a class="btn btn-primary" role="button" href="{{ path('device_new') }}">New device</a>
{% endblock %}
